.swiper .swiper-pagination {
    bottom: 3.125rem !important;

}
.swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #fff !important;
    opacity: 1;
    margin: 0 10px !important;
    transition: scale ease-in-out 0.5s;
}
.swiper .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    border: 1px solid #da291c ;
    background-color: #da291c00 !important;
    scale: 2 !important;
}